.space {
    background: url(../src/space.png) repeat;
    display: flex;
}

.planet-area {
    align-self: flex-start;
    left: 0;
    bottom: 0;
    position: relative;
    overflow: hidden;
}

.rocket {
    left: 70px;
    bottom: 150px;
    position: absolute;
    transform: rotate(30deg);
    width: 15%;
}

.control-panel {
    display: flex;
    width: 200px;
    height: 400px;
    align-self: center;
    text-align: center;
    background: linear-gradient(#e66465, #9198e5);
}

input[type=button]{
    height: 50px;
    width: 100px;
    background-color: #555;
    border-radius: 50%;
}

input[type=password]{
    background-color: #555;
}

.control-panel__inner {
    display: flex;
    width: auto;
    height: auto;

    padding: 10px;

    justify-content: space-around;
    flex-direction: column;
    background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

.check-buttons {
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: #383333;
    border-radius: 10px;
}

.levers {
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: #383333;
    transform: rotate(-90deg);
}

#launch {
    align-self: center;
}
